*{
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20pt;
    color: rgb(12, 11, 11);
    background-color: papayawhip;
}

header{
    background-color: rgb(245, 215, 155);
    color: rgb(16, 17, 17);
    font-size: 25pt;
    padding: 20px;
}
h1{
   
    margin-bottom: 20px;
}

.content {
    background-color: rgb(95, 190, 235);
    margin-bottom: 30px;
    text-align: justify;
}

section {
    margin-bottom: 20px;
    padding: 15px;
    font-size: 16px;
    width: 200px;
    background-color: rgb(213, 243, 241);
}

h3 {
    text-align: center;
}

footer {
    color: rgb(15, 15, 15);
    font-size: 26pt;
}

.border-sample {
    border:thin solid black !important;
}

.content  {
    border:thin solid black;
}

.section-container{
    display: flex;
    justify-content: space-evenly;
}